<body>
    

<h5>𝐀𝐛𝐨𝐮𝐭 𝐮𝐬</h5>
<p>
    𝐖𝐞 𝐚𝐫𝐞 𝐨𝐧𝐞 𝐨𝐟 𝐭𝐡𝐞 𝐥𝐚𝐫𝐠𝐞𝐬𝐭 𝐜𝐨𝐫𝐩𝐨𝐫𝐚𝐭𝐞 𝐡𝐞𝐚𝐥𝐭𝐡𝐜𝐚𝐫𝐞 𝐠𝐫𝐨𝐮𝐩𝐬 𝐢𝐧 𝐈𝐧𝐝𝐢𝐚 𝐰𝐢𝐭𝐡 𝐡𝐨𝐬𝐩𝐢𝐭𝐚𝐥𝐬 𝐢𝐧 𝐓𝐞𝐥𝐚𝐧𝐠𝐚𝐧𝐚, 𝐀𝐧𝐝𝐡𝐫𝐚 𝐏𝐫𝐚𝐝𝐞𝐬𝐡 & 𝐌𝐚𝐡𝐚𝐫𝐚𝐬𝐡𝐭𝐫𝐚 𝐩𝐫𝐨𝐯𝐢𝐝𝐢𝐧𝐠 𝐦𝐮𝐥𝐭𝐢-𝐝𝐢𝐬𝐜𝐢𝐩𝐥𝐢𝐧𝐚𝐫𝐲 𝐢𝐧𝐭𝐞𝐠𝐫𝐚𝐭𝐞𝐝 𝐡𝐞𝐚𝐥𝐭𝐡𝐜𝐚𝐫𝐞 𝐬𝐞𝐫𝐯𝐢𝐜𝐞𝐬,
     𝐰𝐢𝐭𝐡 𝐚 𝐟𝐨𝐜𝐮𝐬 𝐨𝐧 𝐭𝐞𝐫𝐭𝐢𝐚𝐫𝐲 𝐚𝐧𝐝 𝐪𝐮𝐚𝐭𝐞𝐫𝐧𝐚𝐫𝐲 𝐡𝐞𝐚𝐥𝐭𝐡𝐜𝐚𝐫𝐞 𝐚𝐭 𝐚𝐟𝐟𝐨𝐫𝐝𝐚𝐛𝐥𝐞 𝐜𝐨𝐬𝐭. 
     𝐖𝐞 𝐨𝐩𝐞𝐫𝐚𝐭𝐞 𝟏𝟑 𝐦𝐮𝐥𝐭𝐢-𝐬𝐩𝐞𝐜𝐢𝐚𝐥𝐭𝐲 𝐡𝐨𝐬𝐩𝐢𝐭𝐚𝐥𝐬 𝐮𝐧𝐝𝐞𝐫 𝐭𝐡𝐞 “𝐊𝐈𝐌𝐒 𝐇𝐨𝐬𝐩𝐢𝐭𝐚𝐥𝐬” 𝐛𝐫𝐚𝐧𝐝,
      𝐰𝐢𝐭𝐡 𝐚𝐧 𝐚𝐠𝐠𝐫𝐞𝐠𝐚𝐭𝐞 𝐛𝐞𝐝 𝐜𝐚𝐩𝐚𝐜𝐢𝐭𝐲 𝐨𝐟 𝐨𝐯𝐞𝐫 𝟒,𝟎𝟎𝟎 𝐛𝐞𝐝𝐬. 𝐖𝐞 𝐨𝐟𝐟𝐞𝐫 𝐚 𝐜𝐨𝐦𝐩𝐫𝐞𝐡𝐞𝐧𝐬𝐢𝐯𝐞
       𝐫𝐚𝐧𝐠𝐞 𝐨𝐟 𝐡𝐞𝐚𝐥𝐭𝐡𝐜𝐚𝐫𝐞 𝐬𝐞𝐫𝐯𝐢𝐜𝐞𝐬 𝐚𝐜𝐫𝐨𝐬𝐬 𝐨𝐯𝐞𝐫 𝟐𝟓 𝐬𝐩𝐞𝐜𝐢𝐚𝐥𝐭𝐢𝐞𝐬 𝐚𝐧𝐝 𝐬𝐮𝐩𝐞𝐫 𝐬𝐩𝐞𝐜𝐢𝐚𝐥𝐭𝐢𝐞𝐬,
        𝐢𝐧𝐜𝐥𝐮𝐝𝐢𝐧𝐠 𝐜𝐚𝐫𝐝𝐢𝐚𝐜 𝐬𝐜𝐢𝐞𝐧𝐜𝐞𝐬, 𝐨𝐧𝐜𝐨𝐥𝐨𝐠𝐲, 𝐧𝐞𝐮𝐫𝐨𝐬𝐜𝐢𝐞𝐧𝐜𝐞𝐬, 𝐠𝐚𝐬𝐭𝐫𝐢𝐜 𝐬𝐜𝐢𝐞𝐧𝐜𝐞𝐬, 
        𝐨𝐫𝐭𝐡𝐨𝐩𝐚𝐞𝐝𝐢𝐜𝐬, 𝐨𝐫𝐠𝐚𝐧 𝐭𝐫𝐚𝐧𝐬𝐩𝐥𝐚𝐧𝐭𝐚𝐭𝐢𝐨𝐧, 𝐫𝐞𝐧𝐚𝐥 𝐬𝐜𝐢𝐞𝐧𝐜𝐞𝐬 𝐚𝐧𝐝 𝐦𝐨𝐭𝐡𝐞𝐫 & 𝐜𝐡𝐢𝐥𝐝 𝐜𝐚𝐫𝐞.</p>
        <p> 𝐖𝐞 𝐡𝐚𝐯𝐞 𝐠𝐫𝐨𝐰𝐧 𝐟𝐫𝐨𝐦 𝐚 𝐬𝐢𝐧𝐠𝐥𝐞 𝐡𝐨𝐬𝐩𝐢𝐭𝐚𝐥 𝐭𝐨 𝐚 𝐜𝐡𝐚𝐢𝐧 𝐨𝐟 𝐦𝐮𝐥𝐭𝐢-𝐬𝐩𝐞𝐜𝐢𝐚𝐥𝐭𝐲 𝐡𝐨𝐬𝐩𝐢𝐭𝐚𝐥𝐬 
            𝐭𝐡𝐫𝐨𝐮𝐠𝐡 𝐨𝐫𝐠𝐚𝐧𝐢𝐜 𝐠𝐫𝐨𝐰𝐭𝐡 𝐚𝐧𝐝 𝐬𝐭𝐫𝐚𝐭𝐞𝐠𝐢𝐜 𝐚𝐜𝐪𝐮𝐢𝐬𝐢𝐭𝐢𝐨𝐧𝐬 𝐮𝐧𝐝𝐞𝐫 𝐭𝐡𝐞 𝐥𝐞𝐚𝐝𝐞𝐫𝐬𝐡𝐢𝐩 𝐨𝐟 𝐃𝐫.
             𝐁𝐡𝐚𝐬𝐤𝐚𝐫𝐚 𝐑𝐚𝐨 𝐁𝐨𝐥𝐥𝐢𝐧𝐞𝐧𝐢, 𝐨𝐮𝐫 𝐟𝐨𝐮𝐧𝐝𝐞𝐫 𝐚𝐧𝐝 𝐌𝐚𝐧𝐚𝐠𝐢𝐧𝐠 𝐃𝐢𝐫𝐞𝐜𝐭𝐨𝐫, 𝐚𝐧𝐝 𝐃𝐫. 𝐀𝐛𝐡𝐢𝐧𝐚𝐲 𝐁𝐨𝐥𝐥𝐢𝐧𝐞𝐧𝐢,
              𝐨𝐮𝐫 𝐄𝐱𝐞𝐜𝐮𝐭𝐢𝐯𝐞 𝐃𝐢𝐫𝐞𝐜𝐭𝐨𝐫 𝐚𝐧𝐝 𝐂𝐄𝐎. 𝐎𝐮𝐫 𝐟𝐢𝐫𝐬𝐭 𝐡𝐨𝐬𝐩𝐢𝐭𝐚𝐥 𝐢𝐧 𝐨𝐮𝐫 𝐧𝐞𝐭𝐰𝐨𝐫𝐤 𝐰𝐚𝐬 𝐞𝐬𝐭𝐚𝐛𝐥𝐢𝐬𝐡𝐞𝐝 𝐢𝐧

               𝐍𝐞𝐥𝐥𝐨𝐫𝐞 𝐢𝐧 𝟐𝟎𝟎𝟎 𝐚𝐧𝐝 𝐡𝐚𝐬 𝐚 𝐜𝐚𝐩𝐚𝐜𝐢𝐭𝐲 𝐨𝐟 𝐚𝐩𝐩𝐫𝐨𝐱𝐢𝐦𝐚𝐭𝐞𝐥𝐲 𝟐𝟎𝟎 𝐛𝐞𝐝𝐬. 𝐎𝐮𝐫 𝐟𝐥𝐚𝐠𝐬𝐡𝐢𝐩 
               𝐡𝐨𝐬𝐩𝐢𝐭𝐚𝐥 𝐚𝐭 𝐒𝐞𝐜𝐮𝐧𝐝𝐞𝐫𝐚𝐛𝐚𝐝 𝐢𝐬 𝐨𝐧𝐞 𝐨𝐟 𝐭𝐡𝐞 𝐥𝐚𝐫𝐠𝐞𝐬𝐭 𝐩𝐫𝐢𝐯𝐚𝐭𝐞 𝐡𝐨𝐬𝐩𝐢𝐭𝐚𝐥𝐬 𝐢𝐧 𝐈𝐧𝐝𝐢𝐚 𝐚𝐭 𝐚 𝐬𝐢𝐧𝐠𝐥𝐞 𝐥
               
               𝐨𝐜𝐚𝐭𝐢𝐨𝐧 (𝐞𝐱𝐜𝐥𝐮𝐝𝐢𝐧𝐠 𝐦𝐞𝐝𝐢𝐜𝐚𝐥 𝐜𝐨𝐥𝐥𝐞𝐠𝐞𝐬), 𝐚𝐜𝐜𝐨𝐫𝐝𝐢𝐧𝐠 𝐭𝐨 𝐭𝐡𝐞 𝐂𝐑𝐈𝐒𝐈𝐋 𝐑𝐞𝐩𝐨𝐫𝐭, 𝐰𝐢𝐭𝐡 𝐚 𝐜𝐚𝐩𝐚𝐜𝐢𝐭𝐲
                𝐨𝐟 𝟏,𝟎𝟎𝟎 𝐛𝐞𝐝𝐬. 𝐖𝐞 𝐡𝐚𝐯𝐞 𝐬𝐢𝐠𝐧𝐢𝐟𝐢𝐜𝐚𝐧𝐭𝐥𝐲 𝐞𝐱𝐩𝐚𝐧𝐝𝐞𝐝 𝐨𝐮𝐫 𝐡𝐨𝐬𝐩𝐢𝐭𝐚𝐥 𝐧𝐞𝐭𝐰𝐨𝐫𝐤 𝐢𝐧 
                𝐫𝐞𝐜𝐞𝐧𝐭 𝐲𝐞𝐚𝐫𝐬 𝐭𝐡𝐫𝐨𝐮𝐠𝐡 𝐨𝐮𝐫 𝐚𝐜𝐪𝐮𝐢𝐬𝐢𝐭𝐢𝐨𝐧𝐬 𝐨𝐟 𝐡𝐨𝐬𝐩𝐢𝐭𝐚𝐥𝐬 𝐢𝐧 𝐎𝐧𝐠𝐨𝐥𝐞 𝐢𝐧 𝐅𝐢𝐬𝐜𝐚𝐥 𝐘𝐞𝐚𝐫 𝟐𝟎𝟏𝟕,
                 𝐕𝐢𝐳𝐚𝐠 𝐚𝐧𝐝 𝐀𝐧𝐚𝐧𝐭𝐚𝐩𝐮𝐫 𝐢𝐧 𝐅𝐢𝐬𝐜𝐚𝐥 𝐘𝐞𝐚𝐫 𝟐𝟎𝟏𝟗, 𝐊𝐮𝐫𝐧𝐨𝐨𝐥 𝐢𝐧 𝐅𝐢𝐬𝐜𝐚𝐥 𝐘𝐞𝐚𝐫 𝟐𝟎𝟐𝟎, 𝐒𝐮𝐧𝐬𝐡𝐢𝐧𝐞 
                 𝐇𝐨𝐬𝐩𝐢𝐭𝐚𝐥𝐬 𝐢𝐧 𝐅𝐢𝐬𝐜𝐚𝐥 𝐘𝐞𝐚𝐫 𝟐𝟎𝟐𝟏 𝐚𝐧𝐝 𝐍𝐚𝐠𝐩𝐮𝐫 (𝐊𝐢𝐧𝐠𝐬𝐰𝐚𝐲 𝐇𝐨𝐬𝐩𝐢𝐭𝐚𝐥𝐬) 𝐢𝐧 𝐅𝐢𝐬𝐜𝐚𝐥 𝐘𝐞𝐚𝐫𝟐𝟎𝟐𝟐 . 
                 𝐀𝐩𝐩𝐫𝐨𝐱𝐢𝐦𝐚𝐭𝐞𝐥𝐲 𝐨𝐧𝐞-𝐭𝐡𝐢𝐫𝐝 𝐨𝐟 𝐨𝐮𝐫 𝟒𝟎𝟎𝟎 𝐛𝐞𝐝𝐬 𝐰𝐞𝐫𝐞 𝐥𝐚𝐮𝐧𝐜𝐡𝐞𝐝 𝐢𝐧 𝐭𝐡𝐞 𝐥𝐚𝐬𝐭 𝐟𝐨𝐮𝐫 𝐭𝐨 𝐟𝐢𝐯𝐞 𝐲𝐞𝐚𝐫𝐬. 
                 𝐖𝐞 𝐬𝐭𝐫𝐢𝐯𝐞 𝐭𝐨 𝐩𝐫𝐨𝐯𝐢𝐝𝐞 𝐪𝐮𝐚𝐥𝐢𝐭𝐲 𝐬𝐞𝐫𝐯𝐢𝐜𝐞 𝐭𝐨 𝐦𝐨𝐫𝐞 𝐩𝐚𝐭𝐢𝐞𝐧𝐭𝐬, 𝐚𝐧𝐝 𝐰𝐞 𝐛𝐞𝐥𝐢𝐞𝐯𝐞 𝐰𝐞 𝐡𝐚𝐯𝐞 𝐬𝐜𝐨𝐩𝐞 𝐟𝐨𝐫
                  𝐚𝐝𝐝𝐢𝐭𝐢𝐨𝐧𝐚𝐥 𝐩𝐚𝐭𝐢𝐞𝐧𝐭𝐬 𝐚𝐧𝐝 𝐢𝐦𝐩𝐫𝐨𝐯𝐞𝐝 𝐨𝐜𝐜𝐮𝐩𝐚𝐧𝐜𝐲 𝐫𝐚𝐭𝐞𝐬. 𝐖𝐞 𝐬𝐭𝐫𝐚𝐭𝐞𝐠𝐢𝐜𝐚𝐥𝐥𝐲 𝐟𝐨𝐜𝐮𝐬 𝐨𝐧 𝐭𝐡𝐞 
                  𝐬𝐨𝐮𝐭𝐡𝐞𝐫𝐧 𝐈𝐧𝐝𝐢𝐚𝐧 𝐡𝐞𝐚𝐥𝐭𝐡𝐜𝐚𝐫𝐞 𝐦𝐚𝐫𝐤𝐞𝐭 𝐰𝐡𝐞𝐫𝐞 𝐰𝐞 𝐡𝐚𝐯𝐞 𝐚 𝐬𝐭𝐫𝐨𝐧𝐠 𝐮𝐧𝐝𝐞𝐫𝐬𝐭𝐚𝐧𝐝𝐢𝐧𝐠 𝐨𝐟 
                  𝐫𝐞𝐠𝐢𝐨𝐧𝐚𝐥 𝐧𝐮𝐚𝐧𝐜𝐞𝐬, 𝐜𝐮𝐬𝐭𝐨𝐦𝐞𝐫 𝐜𝐮𝐥𝐭𝐮𝐫𝐞, 𝐚𝐧𝐝 𝐭𝐡𝐞 𝐦𝐢𝐧𝐝𝐬𝐞𝐭 𝐨𝐟 𝐦𝐞𝐝𝐢𝐜𝐚𝐥 𝐩𝐫𝐨𝐟𝐞𝐬𝐬𝐢𝐨𝐧𝐚𝐥𝐬 𝐚𝐧𝐝
                   𝐰𝐡𝐞𝐫𝐞 𝐭𝐡𝐞𝐫𝐞 𝐢𝐬 𝐚 𝐬𝐢𝐠𝐧𝐢𝐟𝐢𝐜𝐚𝐧𝐭 𝐚𝐧𝐝 𝐠𝐫𝐨𝐰𝐢𝐧𝐠 𝐧𝐞𝐞𝐝 𝐟𝐨𝐫 𝐪𝐮𝐚𝐥𝐢𝐭𝐲 𝐚𝐧𝐝 𝐚𝐟𝐟𝐨𝐫𝐝𝐚𝐛𝐥𝐞 𝐡𝐞𝐚𝐥𝐭𝐡𝐜𝐚𝐫𝐞 𝐬𝐞𝐫𝐯𝐢𝐜𝐞𝐬. 𝐄𝐚𝐜𝐡 𝐨𝐟 𝐨𝐮𝐫 𝐡𝐨𝐬𝐩𝐢𝐭𝐚𝐥𝐬 𝐚𝐥𝐬𝐨 𝐡𝐚𝐬 𝐢𝐧𝐭𝐞𝐠𝐫𝐚𝐭𝐞𝐝 𝐝𝐢𝐚𝐠𝐧𝐨𝐬𝐭𝐢𝐜 𝐬𝐞𝐫𝐯𝐢𝐜𝐞𝐬 𝐚𝐧𝐝 𝐩𝐡𝐚𝐫𝐦𝐚𝐜𝐢𝐞𝐬 𝐭𝐡𝐚𝐭 𝐜𝐚𝐭𝐞𝐫 𝐭𝐨 𝐨𝐮𝐫 𝐩𝐚𝐭𝐢𝐞𝐧𝐭𝐬.
    
            </p> 
        </body>