body
{
    background-image:url('https://patch.com/img/cdn20/shutterstock/22848544/20210630/110104/styles/patch_image/public/shutterstock-1030781125___30105654997.jpg?width=640');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}